.primary-menu li,
.primary-menu img {
	list-style-type: none;
	float: left;
	margin-left:1em;
}
.primary-menu .page-slider {
	width: 400px;
}
.clear {
	clear:both;
}
.clear-left {
	clear:left;
}
.clear-right {
	clear:right;
}
