html,body {
	font-family:Tahoma,Geneva,sans-serif;
	font-size:12px;
	height:100%;
	width:100%;
	background-image: url(img/bg.png);
	background-size:100% 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
}
ul{
	margin:0;
	padding:0;
}
li {
	list-style-type:none;
	display:inline;
}
.menu-wrapper {
	top:0;
	position:fixed;
	background-image: url(img/top_bg.png);
	height:50px;
	width:100%;
	overflow:hidden;
	z-index:10;
}
.mw-sub {
	float:right;	
	background-image: url(img/line.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding:0 20px 0 20px;
	margin:4px 0 4px 0;;
}
.mw-sub * {
	text-align:center;
	display:block;
	float:left;
	vertical-align:middle;
}
#mw-input-pagenum {
	margin-top:8px;
	margin-left:5px;
	margin-right:5px;
}
#mw-input-pagenum span {
	padding-top:3px;
}
.clear {
	float:clear;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	line-height:0;
	height:0;
	visibility: hidden;
}
.clearfix a {
	display:block;
}
.clearfix {
	display: inline-block;
}
#tatsuta {
	float:left;
	width:150px;
	height:50px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
}	
#page-slider {
	z-index:10;
	position:fixed;
	width:100%;
	height:20px;
	top:50px;
}
#page-slider .ui-slider-handle {
	top:1px;
	width:1em;
	height:1em;
}
#ps-left { float:left; }
#ps-right { float:right; }
#nav-screen {
	position:absolute;
	top: 100px;
	right:40px;
	z-index:9;
	opacity:0.6;
	display:none;
}
#nav-screen-img {
	width: 280px;
	height: 197px;
}
#catalog-main {
	height:100%;
}
#catalog-table-contents {
	top:0;
	bottom:0;
	position:fixed;
	margin-top:70px;
	float:left;
	height:auto;
	overflow:hidden;
}
#catalog-table-contents .ad-back,
#catalog-table-contents .ad-forward {
	width:20px;
	height:20px;
	left:65px;
	position:absolute;
	z-index:10;
	cursor:pointer;
}
#catalog-table-contents .ad-back {
	background: url(modules/board/skins/xe_2010_gallery/img/ad_scroll_up.png) no-repeat;
}
#catalog-table-contents .ad-forward {
	bottom:0;
	background: url(modules/board/skins/xe_2010_gallery/img/ad_scroll_down.png) no-repeat;
}
#catalog-content-tab {
	float:left;
	width:50px;
}
#cm-thumbs,
#cm-contents {
	overflow:hidden;
	background:#ccc;
	float:left;
	width:150px;
	height:100%;
	right:0px;
	left:auto;
	border-right:1px dotted #888;
	-webkit-transition: width 0.25s linear;
}
#cm-thumb-list,
#cm-content-list {
	margin-left:auto;
	margin-right:auto;
	width:130px;
	-webkit-transition: width 0.25s linear;
}
#cm-thumb-list li,
#cm-content-list li {
	margin-top:5px;
	margin-bottom:5px;
	width:100%;
}
.cm-content-a {
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}
.hide {
	width:0px !important;
}
#cm-image-wrapper {
	overflow:hidden;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	width:95%;
}
#cm-prev{
 	background-image:url(img/prev.png);
	width:50px;
	height:50px;
	left:10px;
	top:50%;
	position:absolute;
}
#cm-next { 
 	background-image:url(img/next.png);
	width:50px;
	height:50px;
	right:10px;
	top:50%;
	position:absolute;
}
#cm-loader {
	position:absolute;
	top:48%;
	left:50%;
	background-image:url(img/loader.gif);
	width:30px;
	height:30px;
}
#cm-image{
	padding-top:90px;
	width:75%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}
#cm-image img {
	width:100%;
	min-height:40%;
	min-width:40%;
	max-height:1000%;
	max-width:1000%;
}
.cm-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}
#adminBar {
	display:absolute !important;
	bottom:0;
}
#search-dialog {
	display:none;
}
