html,body {
	font-family:Tahoma,Geneva,sans-serif;
	font-size:12px;
	height:100%;
	width:100%;
	background-image: url(img/bg.png);
	background-size:100% 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
ul{
	margin:0;
	padding:0;
}
li {
	list-style-type:none;
	display:inline;
}
.menu-wrapper {
	top:0;
	position:absolute;
	background-image: url(img/top_bg.png);
	height:50px;
	width:100%;
	overflow:hidden;
	z-index:10;
}
.mw-sub {
	float:right;	
	background-image: url(img/line.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding:0 20px 0 20px;
	margin:4px 0 4px 0;;
}
.mw-sub * {
	text-align:center;
	display:block;
	float:left;
	vertical-align:middle;
}
.clear {
	float:clear;
}
#tatsuta {
	float:left;
	width:150px;
	height:50px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
}	
#page-slider {
	z-index:10;
	position:absolute;
	width:100%;
	height:20px;
	top:50px;
}
#page-slider .ui-slider-handle {
	top:1px;
	width:1em;
	height:1em;
}
#ps-left { float:left; }
#ps-right { float:right; }
#nav-screen {
	position:absolute;
	top: 100px;
	right:40px;
	z-index:10;
}
#catalog-main {
	height:100%;
}
#catalog-table-contents {
	top:0;
	position:absolute;
	padding-top:70px;
	float:left;
	height:100%;
	overflow:hidden;
}
#catalog-content-tab {
	float:left;
	width:50px;
}
#cm-thumbs {
	overflow:hidden;
	background:#ccc;
	float:left;
	width:110px;
	-webkit-transition: width 0.5s linear;
}
#cm-thumb-list {
	-webkit-transition: width 0.5s linear;
}
.hide {
	width:0px !important;
}
#cm-image-wrapper {
	overflow:hidden;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	width:95%;
}
#cm-prev{
 	background-image:url(img/prev.png);
	width:50px;
	height:50px;
}
#cm-next { 
 	background-image:url(img/next.png);
	width:50px;
	height:50px;
	}
.cm-image{
	padding-top:90px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.cm-image img {
	width:100%;
	max-height:95%;
	max-width:100%;
}
.cm-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}
